 .contact{
    margin-top: 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 30px;
        margin: 10px 10px;
}

.contact-section{
    display: flex;
    justify-content: space-around;
    width: 100%;
}
.head-name {
   text-align: center;
    margin-top: 40px;
    background: linear-gradient(270deg, #DF8908 80%, #B415FF 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
}

.contact-left h1{
    font-size: 30px;
    font-weight: 500;
    background: linear-gradient(270deg, #DF8908 80%, #B415FF 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.contact-sub{
    display: flex;
    flex-direction: column;
    gap: 30px;
    color: #D8D8D8;
    font-size: 15px;
}
.contact-detail{
    display: flex;
    align-items: center;
    gap:30px;
    
}
.contact-detail p{
    margin-top: 10px;
}
.contact-detail img{
   height: 30px;
   width: 30px;
   border-radius: 50px;
}

.contact-submit{
    border: none;
    color: white;
    border-radius: 50px;
    background: linear-gradient(264deg, #DF8908 -5.09%, #B415FF 106.28%);
    font-size: 15PX;
    padding: 20px 16px;
    margin-bottom: 50px;
    cursor: pointer;
    transition: 0.3s;
    width: 150px;
    height: 60px;
}
.contact-submit:hover{
    transform: scale(1.1);
    transition: 0.3s;
}
/* @media (max-width:768px){
    .contact{
       margin: 50px 70px;
       align-items: center;
       margin-top: -50px;
    
    }   
    .contact-title h1{
       padding: 0px;
       font-size: 50px;
       font-weight: 500;
    } */
    /* .contact-title img{
       width: 130px;
       margin-right: -20px;
    } */
    /* .contact-section{
        flex-direction: column;
    }
    .contact-left h1{
        font-size: 29px;
    }
    .contact-left p{
        font-size: 13px;
    }
    .contact-detail{
        gap: 20px;
    }
   
    .contact-right{
        margin-top: 20px;
    }
    .contact-right label{
       
        font-size: 20px;
    } */
    /* .contact-right input{
        width: 100%;
        font-size: 13px;
        width: 440px;
    }
    .contact-right textarea{
        width: 95%;
        font-size: 13px;
        width: 440px;
    }
    .contact-submit{
        font-size: 15px;
        padding: 0px 0px;
        margin-left: 140px;
        width: 110px;
        height: 40px;
     margin-top: 30px;
        align-items: center;
         
    }
}
@media(max-width:350px){
    .contact-right input{
        width: 250px;
    }
    .contact-right textarea{
        width: 250px;
    }
    .contact-submit{
        margin-left: 5px;
    }
} */ 